input[type="checkbox"] {
    width: 50px;
    height: 25px;
    appearance: none;
    background-color: var(--toggle-bg);
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px var(--shadow);
    border-color: var(--toggle-border);
    cursor: pointer;
    transition: var(--transition-time);
    position: relative;
}

input:checked[type='checkbox'] {
    background-color: var(--toggle-active);
}

